
@page "/Logout"
@using LokataAdministrative2.Models;
@inject HttpClient httpClient
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json



<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
<h3>Logout</h3>

@if (citationDTOss == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
        @foreach (var item in citationDTOss)
        {
            <li>@item.Barangay</li>
            <li>@item.Province</li>
            <li>@item.City</li>
        }
    </ul>
}



<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>



@code {
    private string result = " ";


    private AddressDto[]? citationDTOss;

    protected override async Task OnInitializedAsync() =>
        citationDTOss = await Http.GetFromJsonAsync<AddressDto[]>("https://www.lokatamanagement.com/api/Citation");


}