@page "/Dashboard"

@using System.Collections.Generic


<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
<h1>Hello, Welcome Back!</h1>


<SurveyPrompt Title="Welcome to Administrative of Lokata" />

<hr />


<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>



@code
{

}
    