@page "/index"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity!.Name</h1>

        Welcome to LOKATA Admin Website.

        <SurveyPrompt Title="Welcome to Administrator of Lokata" />
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Login First!</h1>
    </NotAuthorized>
</AuthorizeView>