@page "/index"
@using LokataAdministrative2.Models.Users

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity!.Name</h1>
        Welcome to LOKATA Admin Website.
    </Authorized>
</AuthorizeView>