<!-- Modal.razor -->

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=CloseModal></button>
        </div>
        <div class="modal-body">
            @ChildContent
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick=CloseModal>Discard Changes</button>
            <button type="button" class="btn btn-success" @onclick=@(()=>SaveChangesAsync())>Save changes</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string DisplayStyle { get; set; } = "none";
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }

    private async Task CloseModal()
    {
        DisplayStyle = "none";
        await OnClose.InvokeAsync();
    }

    private async Task SaveChangesAsync()
    {
        await OnSubmit.InvokeAsync();
        await CloseModal();
    }
}
