@typeparam TEntity

<div class="form-group row">
    <div class="col-sm-3">
        <input class="form-control" style="width:200px" placeholder="Search" @bind="searchItem"></input>
    </div>
    <div class="col-sm-3">
        <button class="form-control btn btn-primary" style="width:100px" @onclick="OnSearchClicked">Search</button>
    </div>
</div>

@code {
    [Parameter]
    public List<TEntity> Items { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchItem;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchItem);
    }
}
