@page "/"
@layout LoginLayout
@inject SweetAlertService Swal

<div class="login d-flex justify-content-center align-items-center vh-100 bg-primary">
    <div style="width:400px" class="border border-dark p-5 rounded bg-white">

        <EditForm Model="login" OnValidSubmit="SubmitCredentials">
            <DataAnnotationsValidator/>

            <h3 class="text-center mb-3">Super/Admin Login</h3>

            <div class="mb-3">
                <label for="username">Username</label>
                <InputText class="form-control" type="text" @bind-Value="login.Username"/>
                <ValidationMessage For="@(() => login.Username)"/>
            </div>

            <div class="mb-5">
                <label for="password">Password</label>
                <InputText class="form-control" type="password" @bind-Value="login.Password" />
                <ValidationMessage For="@(() => login.Username)"/>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
 
            <div class="row mt-2">
                <div class="col d-flex align-items-center">
                    <p class="text-start">
                        <a class="text-decoration-none" href="">Forgot password?</a>
                    </p>
                </div>

                <div class="col">
                    <p class="text-end">
                        <a class="ms-2 text-decoration-none" @onclick="NavigateToSignUp">Sign Up?</a>
                    </p>
                </div>
            </div>
                        
        </EditForm>

    </div>
</div>