@page "/impoundVehicle"
@inject NavigationManager navigation

<h2>Impounded Vehicles</h2>
<hr />

<h4>Vehicle List</h4>
<div class="form-group row">
    <label class=" col-md-12">Search</label>
    <div class="col-md-4">
        <input class="form-control" /> <!-- bind="*"-->
    </div>
    
</div>

&nbsp;

<div class="form-group mb-3">
    <button class="btn btn-primary">Search</button> <!--onclick="AccountSearch"-->
    <!-- <ValidationMessage For="*" /> -->
</div>

<table class="table table-hover mb-3">
    <thead>
        <tr>
            <th>No.</th>
            <th>TCT No.</th>
            <th>Plate No.</th>
            <th>Date Impounded</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var citation in citationList)
        {
            <tr>
                <td>@(citationList.IndexOf(citation) + 1)</td>
                <td>@citation.TctNo</td>
                <td>@citation.VehicleDescription!.PlateNo</td>
                <td>@citation.PlaceApprehended!.Date</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="address/@citation.Id"><i class="oi oi-pencil"></i></a>
                    <button type="button" class="btn btn-danger btn-sm ms-2" @onclick="(()=> DeleteAddress(citation.Id!))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <button class="btn btn-primary" @onclick="ViewVehicleDetails">View Vehicle Details</button>
</div>

@code {
    List<CitationDto> citationList = new();

    protected override async Task OnInitializedAsync()
    {
        citationList = await citationClient.GetAllRequest();
    }

    private async Task DeleteAddress(string id)
    {
        await citationClient.DeleteRequest(id);
        await OnInitializedAsync();
    }

    private void ViewVehicleDetails()
    {
        navigation.NavigateTo("/VehicleDetails");
    }

    private void TrackVehicle()
    {
        navigation.NavigateTo("/Tracking");
    }
}