@page "/userpage/1"

<h2>Users Submitted Reciept</h2>
<hr/>
<h4>Submission List</h4>



<hr/>
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>

@code {

}
