@page "/userpage/3"

<h2>Users Requirement Submission</h2> <p> === PARA ASA NI NGA REQUIRMENTS SPECIFICALLY === </p>

<hr />

<h4>To be Validate User Requirements</h4>

&nbsp;
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
&nbsp;
<p>User Selection Table List Here===></p>

<div class="form-group">
    <button type="button" class="btn btn-primary">Validate</button> <!-- onclick="Validate" -->
</div>
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
<hr />

<h4>Approved User Accounts</h4>

&nbsp;
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
&nbsp;
<p>User Table List Here===></p>
&nbsp;

<p>NOTE: List will automatically update every 15 - 30 mins.</p>
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
<hr />

<h4>Decline User Accounts</h4>

&nbsp;
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
&nbsp;
<p>NOTE: For Decline User please double check the missing requirements and missing important information before notifying the user</p>
<p>List will automatically update every 15 - 30 mins.</p>

&nbsp;

<p>User Selection Table List Here===></p>

&nbsp;

<div class="form-group">
    <button type="button" class="btn btn-primary">Note</button> <!-- onclick="Note" -->
</div>
<p style="color:red">======== NOTE: NOT FINAL CHANGES MAY APPLIED WITHOUT FURTHER NOTICE ===========</p>
@code {

}
