@inherits LayoutComponentBase
@inject NavigationManager navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink @onclick="Logout" class="btn btn-outline-primary">Sign Out</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink @onclick="Login" class="btn btn-outline-primary">Sign In</NavLink>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Login()
    {
        navigation.NavigateTo("/");
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (TokenAuthenticationStateProvider) stateProvider;

        await customAuthStateProvider.SetTokenAsync("");
        navigation.NavigateTo("/", false);
    }
}