<div class="top-row pl-4 navbar navbar-dark" style="justify-content:center;">
    <a class="navbar-brand">LOKATA ADMINISTRATOR</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <AuthorizeView Roles="SuperAdmin, Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="issuedticket">
                        <span class="oi oi-folder" aria-hidden="true"></span> Record Ticket
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="impoundVehicle">
                        <span class="oi oi-file" aria-hidden="true"></span> Impounded Vehicles
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="()=>expandSubMenu= !expandSubMenu">
                        <span class="oi oi-plus" aria-hidden="true"></span> User Page
                    </NavLink>
                    @if (expandSubMenu)
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="userrequirements">
                                    <span class="oi oi-folder" aria-hidden="true"></span>Submitted Requirements
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="userreceipts">
                                    <span class="oi oi-paperclip" aria-hidden="true"></span> Submitted Reciepts
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="SuperAdmin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="impoundedareas">
                        <span class="oi oi-location" aria-hidden="true"></span> Impoundment Areas
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="requirements">
                        <span class="oi oi-book" aria-hidden="true"></span> Requirements
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="paymentchannels">
                        <span class="oi oi-credit-card" aria-hidden="true"></span> Payment Channels
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="()=>expandRateMenu= !expandRateMenu">
                        <span class="oi oi-calculator" aria-hidden="true"></span> Rates
                    </NavLink>
                    @if (expandRateMenu)
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="storagerates">
                                    <span class="oi oi-dollar" aria-hidden="true"></span>Storage Rates
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="towingrates">
                                    <span class="oi oi-dollar" aria-hidden="true"></span> Towing Rates
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="()=>expandSubMenu= !expandSubMenu">
                        <span class="oi oi-plus" aria-hidden="true"></span> Admin Accounts
                    </NavLink>
                    @if (expandSubMenu)
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="pendingaccounts">
                                    <span class="oi oi-person" aria-hidden="true"></span>Pending Accounts
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="approvedaccounts">
                                    <span class="oi oi-person" aria-hidden="true"></span> Approved Accounts
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;
    private bool expandRateMenu;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null!;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
